@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body, html {
  height: 100%;
}

header {
  height: 50%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #222227;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 30%;
  margin: 10px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

li a {
  text-decoration: none;
  padding: 10px;
  color: white;
}

li a:hover {
  color: gray;
}

.bg {
  height: 100%;
  width: 100%;
  background-image: url("../img/banners2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-lastest {
  height: 80%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222227;
  color: white;
  border: 2px solid black;
  -webkit-box-shadow: 5px 10px 8px 10px black;
          box-shadow: 5px 10px 8px 10px black;
}

.product-lastest .images {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-lastest .images img {
  width: 200px;
  height: 300px;
  -webkit-box-shadow: 5px 10px 8px 10px black;
          box-shadow: 5px 10px 8px 10px black;
}

/* 
    The sticky class is added to the header with JS when it reaches its scroll 
    position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 20%;
}

.userform-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 40px;
  right: 50px;
  background-color: #222227;
  padding: 10px;
  border: 2px solid black;
  -webkit-box-shadow: 5px 10px 8px 10px black;
          box-shadow: 5px 10px 8px 10px black;
}

.userform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.userform label {
  padding: 5px;
}

.form-search {
  margin-right: 20px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

article {
  width: 28%;
  margin: 2%;
  background-color: #222227;
  color: white;
  border: 2px solid black;
  -webkit-box-shadow: 5px 10px 8px 10px #222227;
          box-shadow: 5px 10px 8px 10px #222227;
}

article h2 {
  text-align: center;
  padding: 5px;
}

article img {
  width: 100%;
}

article p {
  padding: 15px;
}

article span {
  font-weight: bold;
}

article .tags {
  font-size: smaller;
}

.article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #333333;
  font-size: small;
}

.article-footer p {
  padding: 5px;
}

.article-footer button {
  padding: 10px 50px;
  margin: 5px;
  background-color: orangered;
  font-size: large;
  font-weight: bold;
}

footer {
  height: 5%;
  background-color: #222227;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.productpage {
  width: 90vw;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productpage h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4rem;
  border: 2px solid black;
  -webkit-box-shadow: 5px 10px 8px 10px black;
          box-shadow: 5px 10px 8px 10px black;
  margin: 10px;
  margin-bottom: 50px;
  padding: 5px;
}

.productinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productinfo img {
  width: 50%;
  padding: 10px;
}

.productinfo div {
  width: 30%;
  margin-left: 10px;
}

.productinfo .article-footer {
  background-color: #222227;
}

.product-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-section h2 {
  margin: 10px;
}

.product-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
}

.product-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-form label {
  padding: 5px;
  margin: 0 10px;
  width: 250px;
}

.product-form input, .product-form textarea {
  margin: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-form input[type=submit] {
  padding: 10px 50px;
  margin: 5px;
  background-color: orangered;
  font-size: large;
  font-weight: bold;
}

.register-section {
  margin: auto;
  margin-bottom: 20px;
  width: 30%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  background-color: #222227;
  color: white;
}

.register-section h2 {
  margin: 10px;
}

.register-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.register-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.register-form label {
  padding: 5px;
  margin: 0 10px;
  width: 150px;
}

.register-form input, .register-form textarea {
  margin: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.register-form input[type=submit] {
  padding: 10px 50px;
  margin: 5px;
  background-color: orangered;
  font-size: large;
  font-weight: bold;
}

.delete-product-link {
  text-decoration: none;
  color: gray;
  padding: 5px;
}

.delete-button {
  padding: 20px;
  border: 1px solid black;
  text-align: center;
  text-decoration: none;
  background-color: orangered;
  color: white;
  font-weight: bold;
}

.delete-button:hover {
  cursor: default;
}

.delete-button:active {
  outline: 1px solid white;
}

.searchResult {
  position: absolute;
  top: 40px;
  right: 90px;
}

.searchResult ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.searchResult ul li {
  background-color: white;
  padding: 2px;
}

.searchResult ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */